.modalx {
  font-size: 12px;
  border-radius: 6px;
}

.modalxHeader {
  width: 100%;
  border-bottom: 1px solid #abaaaa52 !important;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modalxContent {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  font-size: 12px !important;
}
.modalActions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modalFooter {
  text-align: right;
  border-top: 1px solid #abaaaa52;
  padding: 4px;
}

.modalClose {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.customButton {
  font-size: 12px;
}

.modal-custom-header {
  font-size: 18px;
  text-align: center;
}
.modal-custom-header h4 {
  font-weight: bold;
}
.modal-custom-body {
  font-size: 18px;
  text-align: center;
}
.colorisblack {
  color: black !important;
}

.profile .box.special {
  padding: 1em 1em 1.5em 1em;
}

.profile .box .image.featured:first-child {
  margin-bottom: 1em;
  margin-top: -1em;
}

.profile .box .image.featured {
  margin: 3em 0 3em -1em;
  width: calc(100% + 2em);
}

.profile .box.special h3 {
  margin-bottom: 0;
}
.profile .box.special p {
  margin: 0 0 1.5em 0;
}

#main {
  padding: 4em 0 2em 0;
}


.popup-content {
  border-radius: 6px;
}